@model IEnumerable<TasksManager.Models.TaskViewModel>
@{
    ViewBag.Title = "My tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <h2> My Tasks</h2>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    <p class="text-info">
                        @Html.DisplayNameFor(model => model.Name)
                    </p>
                </th>
                <th>
                    <p class="text-info">
                        @Html.DisplayNameFor(model => model.Description)
                    </p>
                </th>
                <th>
                    <p class="text-info">
                        @Html.DisplayNameFor(model => model.Checked)
                    </p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.tasks)
        {
            <tr>
                <td>
                    <p class="text-success">
                        @item.Name
                    </p>
                </td>
                <td>
                    <p class="text-success">
                        @item.Description
                    </p>
                </td>
                @*@if (item.Checked == true)
                {
                    <td>Checked</td>
                }
                else
                {
                    <button type="submit" class="btnDone">Mark as cheked</button>
                }*@
                <td><input id="TaskId" name="TaskId" type="hidden" text="@item.Id" /></td>
                <td><input type='button' id="btnDone" value='Mask as cheked' class="btn-primary" /></td>
            </tr>
        }
        </tbody>
    </table>
}
